 .u-section-1 {
  background-image: url("images/image21.png");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 1398px;
}

.u-section-1 .u-text-1 {
  margin: 341px 198px 0 auto;
}

.u-section-1 .u-form-1 {
  height: 442px;
  width: 846px;
  margin: 91px auto 0;
}

.u-section-1 .u-input-1 {
  background-image: none;
}

.u-section-1 .u-input-2 {
  background-image: none;
}

.u-section-1 .u-btn-1 {
  width: 100%;
  background-image: none;
  border-style: none;
  padding: 10px 0;
}

.u-section-1 .u-image-1 {
  width: 127px;
  height: 127px;
  margin: 149px auto 0;
}

.u-section-1 .u-image-2 {
  width: 169px;
  height: 300px;
  margin: 30px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1153px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 883px;
  }

  .u-section-1 .u-form-1 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 662px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 149px;
  }

  .u-section-1 .u-form-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 417px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 94px;
  }

  .u-section-1 .u-form-1 {
    width: 340px;
  }
}