 .u-section-1 {
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.35)), url('images/image7.png');
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 386px;
}

.u-section-1 .u-text-1 {
  margin: 107px auto 0;
}

.u-section-1 .u-text-2 {
  font-size: 1rem;
  width: 453px;
  margin: 30px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 318px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 244px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 183px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 115px;
  }

  .u-section-1 .u-text-2 {
    width: 340px;
  }
} .u-section-2 {
  background-image: url("images/WhatsAppImage2025-01-20at21.32.41_36df339f.jpg");
  background-position: 50% 50%;
}

.u-section-2 .u-sheet-1 {
  min-height: 1497px;
}

.u-section-2 .u-list-1 {
  margin-top: 60px;
  margin-bottom: 0;
  grid-template-rows: repeat(2, auto);
}

.u-section-2 .u-repeater-1 {
  grid-template-columns: repeat(3, calc(33.3333% - 20.6667px));
  min-height: 982px;
  grid-auto-columns: calc(33.3333% - 20.6667px);
  grid-gap: 31px;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px 26px 0;
}

.u-section-2 .u-video-1 {
  width: 303px;
  height: 337px;
  margin: 56px 4px 0 0;
}

.u-section-2 .embed-responsive-1 {
  position: absolute;
}

.u-section-2 .u-text-1 {
  font-size: 1.875rem;
  margin: 31px auto 0;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px 26px 0;
}

.u-section-2 .u-video-2 {
  width: 303px;
  height: 337px;
  margin: 56px 4px 0 0;
}

.u-section-2 .embed-responsive-2 {
  position: absolute;
}

.u-section-2 .u-text-2 {
  font-weight: 400;
  font-size: 1.875rem;
  margin: 31px auto 0;
}

.u-section-2 .u-container-layout-3 {
  padding: 30px 26px 0;
}

.u-section-2 .u-video-3 {
  width: 303px;
  height: 337px;
  margin: 56px 4px 0 0;
}

.u-section-2 .embed-responsive-3 {
  position: absolute;
}

.u-section-2 .u-text-3 {
  font-weight: 400;
  font-size: 1.875rem;
  margin: 31px auto 0;
}

.u-section-2 .u-container-layout-4 {
  padding: 30px 26px 0;
}

.u-section-2 .u-video-4 {
  width: 303px;
  height: 337px;
  margin: 56px 4px 0 0;
}

.u-section-2 .embed-responsive-4 {
  position: absolute;
}

.u-section-2 .u-text-4 {
  font-weight: 400;
  font-size: 1.875rem;
  margin: 31px auto 0;
}

.u-section-2 .u-container-layout-5 {
  padding: 30px 26px 0;
}

.u-section-2 .u-video-5 {
  width: 303px;
  height: 337px;
  margin: 56px 4px 0 0;
}

.u-section-2 .embed-responsive-5 {
  position: absolute;
}

.u-section-2 .u-text-5 {
  font-weight: 400;
  font-size: 1.875rem;
  margin: 31px auto 0;
}

.u-section-2 .u-container-layout-6 {
  padding: 30px 26px 0;
}

.u-section-2 .u-video-6 {
  width: 303px;
  height: 337px;
  margin: 56px 4px 0 0;
}

.u-section-2 .embed-responsive-6 {
  position: absolute;
}

.u-section-2 .u-text-6 {
  font-weight: 400;
  font-size: 1.875rem;
  margin: 31px auto 0;
}

.u-section-2 .u-image-1 {
  width: 338px;
  height: 338px;
  margin: 52px auto 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1234px;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: repeat(3, calc(33.333333333333336% - 20.6667px));
    min-height: 480px;
    grid-auto-columns: calc(33.333333333333336% - 20.6667px);
  }

  .u-section-2 .u-text-1 {
    margin-left: 43px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 945px;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 15.500024999999999px));
    min-height: 855px;
    grid-auto-columns: calc(50% - 15.500024999999999px);
  }

  .u-section-2 .u-video-1 {
    margin-top: 283px;
  }

  .u-section-2 .u-text-1 {
    margin-left: 69px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 709px;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: 100%;
    grid-auto-columns: calc(100% - 0px);
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-video-1 {
    margin-top: 464px;
  }

  .u-section-2 .u-text-1 {
    margin-left: 183px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 446px;
  }

  .u-section-2 .u-repeater-1 {
    grid-auto-columns: 100%;
  }

  .u-section-2 .u-video-1 {
    margin-top: 293px;
  }

  .u-section-2 .u-text-1 {
    margin-left: 83px;
  }
}